<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p class="text-md font-light block mb-1 text-gray-300">Enter markdown: </p>
    <span><%= form.textarea :body, placeholder: "Enter markdown content", class: "border-1 border-gray-500 caret-white rounded-lg w-full h-50 p-3 mb-5" %></span>
  </div>

  <div>
    <%= form.label "#{:title}:", class: "text-md font-light block mb-1 text-gray-300"%> 
    <%= form.text_field :title, placeholder: "Enter title", class: "border-1 border-gray-500 caret-white rounded-lg w-full p-3 mb-5"%>
  </div>

  <div>
    <%= form.label "#{:subtitle}:", class: "text-md font-light block mb-1 text-gray-300"%> 
    <%= form.text_field :subtitle, placeholder: "Enter subtitle", class: "border-1 border-gray-500 caret-white rounded-lg w-full p-3 mb-5" %>
  </div>

  <div>
    <%= form.submit class: "font-bold text-amber-500 mt-8 border border-amber-500 px-2 py-1 rounded-lg" %>
  </div>
<% end %>
